@media screen and (max-width: 600px) {
  .nav_list_item {
    display: none;
  }
  .nav_icon_areya {
    display: flex;
  }
  .nav_titel {
    font-size: 1.6rem;
  }
  .heroaaa_descoption {
    width: auto;
    font-size: 14px;
    margin-top: 10px;
  }
  .hero_titel {
    color: #fff;
    margin-top: 1rem;
    font-size: 1.6rem;
    font-weight: 800;
  }
  .hero_section_input {
    margin-top: 1rem;
  }
  .box_input {
    width: 100%;
    margin-top: 1rem;
  }
  .icon_styel {
    width: 100%;
    margin-top: 1rem;
  }
  .populr_ture_section {
    flex-direction: column;
  }
  .poular_text_areya {
    width: 100%;
  }
  .popular_img_areya {
    width: 100%;
  }

  .poular_titel {
    font-size: 1.3rem;
  }

  .popular_desdcoption {
    font-size: 14px;
  }
  .poular_text_areya ul {
    padding: 0 2rem;
  }
  .poular_text_areya ul li {
    font-size: 14px;
  }

  .popural_descoption {
    font-size: 14px;
  }

  .destnison_text_areya {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .img_boxesh1 {
    flex-direction: column;
  }
  .destnison_box2 {
    flex-direction: column;
  }
  .destinon_boxed3 {
    flex-direction: column;
  }

  .destnion_text_titel {
    font-size: 1.6rem;
  }
  .destnison_descoption {
    font-size: 14px;
  }
  .hotel_section_text {
    width: 100%;
  }
  .Hotel_and_serbice {
    flex-direction: column;
  }
  .price_section {
    width: 100%;
  }
  .hotel_text_titel {
    font-size: 1.6rem;
  }
  .hotel_text_descoption {
    font-size: 14px;
  }
  .hotel_section_titel {
    font-size: 1.6rem;
  }
  .hotel_section_descoption {
    font-size: 14px;
  }
  .service_section_titel {
    font-size: 1.6rem;
  }
  .service_descoption {
    font-size: 14px;
  }
  .price_titel {
    font-size: 1.6rem;
  }
  .price_descoption {
    font-size: 14px;
  }
  .input_section {
    flex-direction: column;
  }
  .input_text_areya {
    width: 100%;
  }
  .submite_btn {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .input_descoption {
    margin-bottom: 1rem;
    font-size: 14px;
  }
  .footer_contner_section {
    width: 100%;
  }
}
