@media screen and (max-width: 600px) {
  .nav_list_item {
    display: none;
  }
  .nav_icon_areya {
    display: flex;
  }
  .nav_titel {
    font-size: 1.6rem;
  }
  .heroaaa_descoption {
    width: auto;
    font-size: 14px;
    margin-top: 0;
  }
  .hero_titel {
    color: #fff;
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 1rem;
  }
  .hero_section_input {
    margin-top: 1rem;
  }
  .box_input {
    width: 100%;
    margin-top: 0.7rem;
  }
  .icon_styel {
    width: 100%;
    margin-top: 1rem;
  }
  .populr_ture_section {
    flex-direction: column;
  }
  .poular_text_areya {
    width: 100%;
  }
  .popular_img_areya {
    width: 100%;
  }

  .poular_titel {
    font-size: 1.3rem;
  }

  .popular_desdcoption {
    font-size: 14px;
  }
  .poular_text_areya ul {
    padding: 0 2rem;
  }
  .poular_text_areya ul li {
    font-size: 14px;
  }

  .popural_descoption {
    font-size: 14px;
  }

  .destnison_text_areya {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .img_boxesh1 {
    flex-direction: column;
  }
  .destnison_box2 {
    flex-direction: column;
  }
  .destinon_boxed3 {
    flex-direction: column;
  }

  .destnion_text_titel {
    font-size: 1.6rem;
  }
  .destnison_descoption {
    font-size: 14px;
  }

  .img_destnison_titel {
    position: absolute;

    bottom: 50%;
    left: 30%;
    color: #fff;
  }
  .hotel_section_text {
    width: 100%;
  }
  .Hotel_and_serbice {
    flex-direction: column;
  }
  .price_section {
    width: 100%;
  }
  .hotel_text_titel {
    font-size: 1.6rem;
  }
  .hotel_text_descoption {
    font-size: 14px;
  }
  .hotel_section_titel {
    font-size: 1.6rem;
  }
  .hotel_section_descoption {
    font-size: 14px;
  }
  .service_section_titel {
    font-size: 1.6rem;
  }
  .service_descoption {
    font-size: 14px;
  }
  .price_titel {
    font-size: 1.6rem;
  }
  .price_descoption {
    font-size: 14px;
  }
  .input_section {
    flex-direction: column;
  }
  .input_text_areya {
    width: 100%;
  }
  .submite_btn {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .input_descoption {
    margin-bottom: 1rem;
    font-size: 14px;
  }
  .footer_contner_section {
    width: 100%;
  }
  .sample_place_areya {
    flex-direction: column;
  }
  .sample_place_text_areya {
    width: 100%;
  }

  .sample_plece_titel {
    font-size: 1.4rem;
  }
  .sample_place_descoption {
    font-size: 14px;
  }
  .sample_place_text_areya ul li {
    font-size: 14px;
  }
  .cox_bazar_contner {
    flex-direction: column;
  }
  .bazrar_head_section_img {
    flex-direction: column;
  }

  .cox_bazar_titel {
    font-size: 1.6rem;
  }

  .cox_bazar_descoption {
    margin-top: 1.3rem;
    font-size: 14px;
  }
  .cox_bazar_text-areya ul li {
    font-size: 14px;
  }
  /* optnol task*/

  .dels_and_descount_img_text_areya {
    right: 1px;
    top: 65px;
    width: 100%;
  }
  .dels_text_areya {
    width: 100%;
  }

  .dels_and_descount_titel {
    font-size: 1.5rem;
  }

  .desls_and_descount_descoption {
    margin-top: 1.3rem;
    font-size: 14px;
    margin-bottom: 2rem;
  }
  .descount_titels {
    font-size: 14px;
    margin-top: 1rem;
  }
  .dels_nad_descount_img_titel {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .dels_descount_tile {
    margin-top: 0.8rem;
    font-size: 1.4rem;
  }
  .dels_turis_descoption {
    color: #5a5a5d;
    margin: 1rem 0;
    font-size: 14px;
    line-height: 20px;
    padding: 0;
  }

  .desl_and_descount_price {
    margin-top: 0;
    font-size: 1rem;
  }
  .book_btn {
    font-size: 1.3rem;

    padding: 10px 24px;
    border: none;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .descount_all_sectioned {
    left: 0px;
    top: 65px;
    width: 100%;
  }
  .descount_text_sectioned {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .desl_nad_descount_headear {
    right: 1px;
    top: 65px;
    width: 100%;
  }

  .desl_descount_headear_text_sectiom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
