* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

body {
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
}
#content {
  width: 85%;
  margin: 0 auto;
}
/* nav areya styel */
header {
  width: 85%;
  margin: 0 auto;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem auto;
}
.nav_hader_section {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.nav_list_item ul {
  display: flex;
  list-style: none;
  gap: 2.8rem;
}
.nav_list_item ul li a {
  color: var(--Dark-02, #424247);
  font-size: 1.2rem;
  font-weight: 700;
  font-style: normal;
}
.home_section_styel {
  color: #ff5400;
}

.TrekTrove_styel {
  color: #ff5400;
}
.nav_titel {
  font-size: 2.4rem;
  color: #131318;
  font-weight: 800;
}
.nav_icon_areya {
  display: none;
}
/* hero areya styel */
.hero_back_img {
  border-radius: 16px;
  height: 500px;
  background-image: url(image/Group.png);
}
.hero_areya_styel {
  border-radius: 16px;
  height: 500px;
  background-image: url(image/Rectangle\ 2.png);
  background-size: cover;
}

.hero_titel {
  color: #fff;

  font-size: 4rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.heroaaa_descoption {
  color: #fff;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  width: 676px;
  text-align: center;
  margin-top: 24px;
}

.box_input {
  border-radius: 8px;
  background: #fff;
  padding: 1rem 0 1rem 1rem;
  border: none;
  color: rgba(19, 19, 24, 0.5);
  width: 10rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 1rem;
}
.hero_areya_styel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.icon_styel {
  background: #ff5400;
  border-radius: 8px;
  color: #fff;
  padding: 1rem 2.5rem;
  border: none;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.hero_section_input {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  padding: 1rem;
  margin-top: 2rem;
}
.hero_text_all_areya {
  text-align: center;
}

/*popular section styel*/
.populr_ture_section {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.poular_text_areya {
  width: 50%;
}
.poular_titel {
  color: #131318;

  font-size: 2.6rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.popular_desdcoption {
  color: rgba(19, 19, 24, 0.7);

  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin: 24px 0;
}
.poular_text_areya ul {
  padding: 0 2rem;
}
.poular_text_areya ul li {
  color: rgba(19, 19, 24, 0.7);

  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 1rem;
}

.popural_descoption {
  color: rgba(19, 19, 24, 0.7);

  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.red_more_btn {
  border-radius: 8px;
  background: #ff5400;
  padding: 13px 30px;
  color: #fff;
  border: none;
  margin-top: 2rem;
}
.popular_img_areya {
  width: 50%;
}
.popular_img_areya img {
  width: 100%;
  max-width: 100%;
}
/* destnison areya styel */

#destination_contenr {
  width: 85%;
  margin: 100px auto;
}
.img_boxesh1 {
  display: flex;
  gap: 1rem;
}
.destnison_box2 {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}
.destinon_boxed3 {
  display: flex;
  gap: 1rem;
}

.destnison_text_areya {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.destnion_text_titel {
  color: #131318;

  font-size: 2.6rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.destnison_descoption {
  color: rgba(19, 19, 24, 0.7);

  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin: 24px 0;
}
.destnison_img_contner {
  margin-top: 3rem;
}
.destnison_img_box1 img {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}
.destnison_img_box2 img {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}
.destnison_img_box3 img {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}
.destnison_img_box4 img {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}
.destnison_img_box5 img {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}
.destnison_img_box6 img {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}
.destnison_img_box7 img {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}

/* hotel and service section*/

#Hotel_all_service {
  width: 85%;
  margin: 0 auto;
}
.hotel_section_text {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.hotel_text_titel {
  color: #131318;

  font-size: 2.6rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.hotel_text_descoption {
  color: rgba(19, 19, 24, 0.7);

  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin: 24px 0;
}

.Hotel_and_serbice {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 3rem;
}

.hotel_section {
  padding: 1rem;
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}
.hotel_section_titel {
  color: #131318;
  margin: 1.7rem 0 1rem 0;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.hotel_section_descoption {
  color: #5a5a5d;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.service_section {
  padding: 1rem;
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}

.service_section_titel {
  color: #131318;
  margin: 1.7rem 0 1rem 0;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.service_descoption {
  color: #5a5a5d;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.price_section {
  width: 50%;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}

.price_titel {
  color: #131318;
  margin: 1.7rem 0 1rem 0;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.price_descoption {
  color: #5a5a5d;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
/*coxbazar section styel*/

#bazar_section_contner {
  width: 85%;
  margin: 0 auto;
  margin-top: 100px;
}
.cox_bazar_contner {
  display: flex;
  gap: 2.5rem;
}
.cox_bazar_img img {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}

.bazrar_head_section_img {
  display: flex;
  gap: 0.6rem;
}

.cox_bazar_titel {
  color: #131318;
  font-size: 2rem;
  font-style: normal;
  font-weight: 800;
  line-height: 60px;
}

.cox_bazar_descoption {
  color: #5a5a5d;
  margin-top: 1.3rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.cox_bazar_text-areya ul {
  padding: 1rem;
}
.cox_bazar_text-areya ul li {
  color: #5a5a5d;
  margin-top: 1rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
}

/*sample place section*/
#sample_place_contner {
  width: 85%;
  margin: 0 auto;
  margin-top: 100px;
}
.sample_place_areya {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.sample_plece_titel {
  color: #131318;

  font-size: 2.6rem;
  font-style: normal;
  font-weight: 800;
  line-height: 60px;
}
.sample_place_descoption {
  color: #5a5a5d;
  margin-top: 1.3rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.sample_place_text_areya {
  width: 50%;
}
.sample_place_text_areya ul {
  padding: 0 1rem;
}
.sample_place_text_areya ul li {
  color: #131318;
  margin-top: 1rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}
.see_more_btn {
  padding: 12px 30px;
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  border: none;
  margin-top: 2rem;
}
.sample_palce_image_areya img {
  width: 100%;
  max-width: 100%;
}
/* input sectin */
#input_section_areya {
  width: 85%;
  margin: 100px auto;
}
.input_section {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.input_text_areya {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  padding: 0 3rem;
  border-radius: 16px;
  border: 1px solid #ff5400;
}
.input_text_areya input {
  width: 100%;
  margin: 0 auto;
  height: 3rem;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  margin-top: 1rem;
  border: none;
  outline: none;
  color: rgba(19, 19, 24, 0.3);
  padding-left: 1rem;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.input_titel {
  color: #131318;

  font-size: 1.6rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.input_descoption {
  color: #5a5a5d;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
hr {
  margin-bottom: 1.5rem;
  background: rgba(19, 19, 24, 0.1);
}
.submite_btn {
  width: 100%;
  color: #fff;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 8px;
  background: #ff5400;
  border: none;
  height: 3rem;
  margin-top: 1.5rem;
}
.input_img_areya img {
  width: 100%;
  max-width: 100%;
}
.save_travel {
  border-radius: 16px;
  background: #ff5400;
}
.input_img_areya {
  position: relative;
}
.save_travel {
  padding: 0.8rem 1rem 0.8rem 1rem;
  position: absolute;
  bottom: 3.5rem;
  right: 5px;
  transform: rotate(-20deg);
  text-align: center;
  color: #fff;
}
/*footer section */
footer {
  padding: 110px 0;
  background: rgba(19, 19, 24, 0.05);
}
.footer_contner_section {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.footer_section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_titel {
  color: var(--Dark-01, #131318);

  font-size: 2rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.footer_descoption {
  color: #5a5a5d;
  margin-top: 1rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.footer_name_color {
  color: #ff5400;
}
.footer_icon_areya {
  margin-top: 2rem;
}
.footer_icon_areya i {
  font-size: 1.6rem;
  margin-right: 1rem;
}
.hr_color {
  margin: 3rem;
  background: rgba(19, 19, 24, 0.1);
}
.footer_descoption_areya {
  color: #131318;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
